smoad.device.serial=^b4452cc7a5d8808d^
smoad.device.details=^OpenWRT VM L2^
smoad.device.area=^Bangalore1^
smoad.device.model=^vm^
smoad.device.model_variant=^l2^
smoad.device.sdwan_details=^OpenWRT VM L2^
smoad.device.sdwan_enable=^1^
smoad.device.wg=^1^
smoad.device.gw_server=^192.168.7.195^
smoad.device.aggpolicy_mode=^loadbal^
smoad.device.aggpolicy=^wan2^
network.lan.ipaddr=^192.168.1.1^
network.lan.netmask=^255.255.255.0^
network.wan.proto=^dhcp^
network.wan.dns=^8.8.8.8^
smoad.qos.wan_max_bandwidth=^3^
smoad.qos.wan_medium_bandwidth_pct=^60^
smoad.qos.wan_low_bandwidth_pct=^30^
network.wan2.proto=^dhcp^
network.wan2.dns=^^
smoad.qos.wan2_max_bandwidth=^10^
smoad.qos.wan2_medium_bandwidth_pct=^60^
smoad.qos.wan2_low_bandwidth_pct=^30^
network.wan3.proto=^dhcp^
network.wan3.dns=^notset^
smoad.qos.wan3_max_bandwidth=^0^
smoad.qos.wan3_medium_bandwidth_pct=^0^
smoad.qos.wan3_low_bandwidth_pct=^0^
network.lte1.ipaddr=^192.168.1.1^
network.lte1.netmask=^255.255.255.0^
network.lte1.gateway=^not set^
smoad.qos.lte1_max_bandwidth=^^
smoad.qos.lte1_medium_bandwidth_pct=^^
smoad.qos.lte1_low_bandwidth_pct=^^
network.lte2.ipaddr=^^
network.lte2.netmask=^^
network.lte2.gateway=^^
smoad.qos.lte2_max_bandwidth=^^
smoad.qos.lte2_medium_bandwidth_pct=^^
smoad.qos.lte2_low_bandwidth_pct=^^
network.lte3.ipaddr=^notset^
network.lte3.netmask=^notset^
network.lte3.gateway=^notset^
smoad.qos.lte3_max_bandwidth=^^
smoad.qos.lte3_medium_bandwidth_pct=^^
smoad.qos.lte3_low_bandwidth_pct=^^
wireless.default_radio0.ssid=^SMOAD WiFi2^
wireless.default_radio0.wireless_key==^^
wireless.default_radio0.wireless_encryption=^wpa^
wireless.default_radio0.wireless_auth_server=^1.1.1.1^
wireless.default_radio0.wireless_auth_secret=^12345^
